<mat-toolbar color="primary">
  <ng-container *ngIf="isAdmin === 'admin'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <a class="btn btn-info btn-md" *ngIf="router.url !== '/login'" [routerLink]="['/']">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>

  <span  style="margin-left: 10px;">Mant-vehi</span>

  <span class="spacer"></span>
  <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>
  <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin">Admin</a>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Logout</a>
</ng-template>
