<div class="colm-md-4 tarjeta" *ngFor="let mantenimiento of mantenimientos">

    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{mantenimiento.nombre}}
            <div>
                <button class="btn btn-danger" (click)="deleteVehicle(mantenimiento.idMantenimiento)" ><i class="far fa-trash-alt"></i></button>
            </div>

        </div>
        <div class="card-body">
            <p>Importe: {{mantenimiento.importe}}</p>
            <p>Creado: {{mantenimiento.fechaCreacion}}</p>
            <p>Km: {{mantenimiento.kmMant}}</p>
            <p>Ubicación: {{mantenimiento.ubicacion}}</p>
            <p>Teller: {{mantenimiento.taller}}</p>
            <img src="../../../../assets/llave.jpg" alt="">
        </div>
        <div class="card-body">
            <p></p>
  
              <a [routerLink]="['/mantenimiento', mantenimiento.idMantenimiento]"  class="btn btn-info btn-block">
                EDITAR MANTENIMIENTO
            </a>
        </div>
    </div>
  
  </div>

  <div class="colm-md-4">

    <div class="card text-center tarjeta">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            Añadir mantenimiento
            
        </div>
        <div class="card-body">
  
              <a [routerLink]="['/mantenimiento']" (click)="saveVehicleId(idVehiculo)" class="btn btn-info btn-block">
                  AÑADIR
              </a>
        </div>
    </div>
  
  </div>