<div class="d-flex flex-wrap justify-content-center componente">
    <div class="col-md-2 tarjeta">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="modelo" [(ngModel)]="vehiculo.idModelo" placeholder="Modelo"
                            class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="color" [(ngModel)]="vehiculo.color" placeholder="Color"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="matricula" [(ngModel)]="vehiculo.matricula" placeholder="Matrícula"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="kilometros" [(ngModel)]="vehiculo.km" placeholder="kilometros"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="file" name="imagen" [(ngModel)]="vehiculo.imagen" (change)="selectImage($event)" placeholder="Imágen"
                            class="form-control">
                    </div>
                    <button class="btn btn-success btn-block" (click)="edit ? updateVehicle() : saveNewVehicle()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-2 tarjeta">
        <div class="card card-body text-center tarjeta">
            <!--<img [src]="game.image  == '' ? '/assets/noimage.png' : game.image" class="card-img-top">!-->
            <h3>{{vehiculo.matricula == '' ? 'Matrícula' : vehiculo.matricula}}</h3>
            <p>{{vehiculo.modelo == '' ? 'Km del vehiculo' : vehiculo.km}}</p>
            <p>{{vehiculo.km == '' ? 'Km del vehiculo' : vehiculo.km}} Km</p>
        </div>
    </div>
</div>