<div class="d-flex flex-wrap justify-content-center">

<div class="colm-md-4 tarjeta" >
    <div class="card">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            EDITAR VEHICULO
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <mat-label>Elije el modelo:</mat-label>
                    <mat-select [(ngModel)]="mantenimiento.idTipo" name="tipes">
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.idTipo">
                        {{tipo.nombre}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="mantenimiento.nombre" placeholder="Nombre o nota" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="importe" [(ngModel)]="mantenimiento.importe" placeholder="Importe del mantenimiento" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="date" name="fechaCreacion" [(ngModel)]="mantenimiento.fechaCreacion" placeholder="Fecha de creación" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="kmMant" [(ngModel)]="mantenimiento.kmMant" placeholder="Km que tiene el coche" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="ubicacion" [(ngModel)]="mantenimiento.ubicacion" placeholder="Ubicacion del mantenimiento" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="taller" [(ngModel)]="mantenimiento.taller" placeholder="Taller" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="file" name="factura" [(ngModel)]="mantenimiento.factura" placeholder="Factura" class="form-control" >
                </div>
                <button class="btn btn-success btn-block" (click)="edit ? updateMant() : saveNewMant()" [routerLink]="['/mantenimientos', mantenimiento.idVehiculo]">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>

<div class="colm-md-4 tarjeta">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        PREVISUALIZACIÓN VEHICULO
    </div>
    <div class="card card-body text-center">
        <!--<img [src]="game.image  == '' ? '/assets/noimage.png' : game.image" class="card-img-top">!-->
        <h3>{{mantenimiento.idTipo == '' ? 'Tipo' : mantenimiento.idTipo}}</h3>
        <p>{{mantenimiento.nombre == '' ? 'Nombre' : mantenimiento.nombre}}</p>
        <p>{{mantenimiento.importe == '' ? 'Importe' : mantenimiento.importe}}</p>
        <p>{{mantenimiento.fechaCreacion == '' ? 'Fecha de creación' : mantenimiento.fechaCreacion}}</p>
        <p>{{mantenimiento.kmMant == '' ? 'Km al hacer el mantenimiento' : mantenimiento.kmMant}}</p>
        <p>{{mantenimiento.ubicacion == '' ? 'Ubicación' : mantenimiento.ubicacion}}</p>
        <p>{{mantenimiento.taller == '' ? 'Taller' : mantenimiento.taller}}</p>
        <p>{{mantenimiento.factura == '' ? 'Factura' : mantenimiento.factura}}</p>
    </div>
</div>
</div>